* {
	box-sizing: border-box;
	margin: 0;
}
.content-wrapper {
	top: 5%;
	left: 0;
	width: 100%;
	height: 80%;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.h-screen {
	max-height: 50vh;
}

.content-wrapper span {
	font-family: "Pacifico";
	font-size: 20px;
}

.game-panel {
	margin-bottom: 20px;
}

.flex {
	display: flex;
	margin-left: 10px;
}
.label {
	margin-right: 10px;
	font-weight: bold;
}

h1{
	font-family: cursive;
	color: rgb(3, 30, 105);
	font-weight: bold;
	text-align: end;
	margin-right: 50px;
	margin-top: 5px;
}

.bg {
	animation: slide 3s ease-in-out infinite alternate;
	background-image: linear-gradient(-65deg, #586f58 50%, #39341c 50%);
}

.bg:nth-child(2) {
	animation-direction:alternate-reverse;
	animation-duration:4s;
}

.bg:nth-child(3) {
  	animation-duration:5s;
}

.overlay {
	padding: 10px 5px;
	color: white;
	position: fixed;
	bottom: 50%;
	background-color: rgb(53, 48, 48);
	width: 50%;
	margin: auto;
	align-content: center;
	text-align: center;
	z-index: 5;
}

.close {
	font-family: sans-serif !important;
	position: absolute;
	right: 10px;
	cursor: pointer;
}

@keyframes slide {
	0% {
		transform:translateX(-25%);
	}
	100% {
		transform:translateX(25%);
	}
}